<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span
        style='font-family:"Arial",sans-serif;color:black;background:white;'>Hola buen
        d&iacute;a.<br>&nbsp;<br>&nbsp;</span><span
        style='font-family:"Arial",sans-serif;color:#222222;background:white;'>Adjunto para su consideraci&oacute;n el
        reporte detalle de cumplimiento hist&oacute;rico de proveedores REPSE de UVM y
        UNITEC.<br>&nbsp;<br>&nbsp;Saludos.&nbsp;</span></p>